.spinButton {
	background: #00b3ff;
	width: 200px;
	color: white;
	font-weight: 700;
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
	transition: all 200ms ease-in-out;
	border: none;
	filter: drop-shadow(0px 5px 4px #0000004f);
}
.spinButton:hover {
	filter: drop-shadow(0px 5px 4px #4444dd);
}
.spinButton:disabled {
  background-color: #bdc3c7;
  color: #7f8c8d;
  cursor: not-allowed;
}
.box {
	padding: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-height: 100%;
	gap: 20px;
	overflow-y: hidden;
}

.winner {
	color: white;
    font-weight: 700;
    font-size: 40px;
	position: absolute;
	z-index: 20;
	top: 50;
	background-color: rgba(0, 0, 0, 0.733);
	border-radius: 5px;
	min-width: 30vw;
	max-width: fit-content;
	height: 30vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
